/* .imageContainer {
    border: 1px solid #dfdede;
} */

/* .imageWrapper {
    border: 1px solid #dfdede;
} */

.nameContainer--tablet-product-summary {
    height: 65px;
    margin-top: 10px;
    margin-block-end: 10px;
    padding: 0;
}

.nameContainer--desktop-product-summary {
    height: 40px;
    margin-top: 10px;
    margin-block-end: 10px;
    padding: 0;
}

.container--listLayout {
    max-width: none!important;
    border-bottom: solid 1px #dfdede;
}

.nameContainer--summaryListMobile {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

