.searchBarIcon {
    color: white;
    background-color: #ce2b2b;
}

.logoImage--logo__mobile {
    margin-left: -25px;
}

.logoImage--logo__tablet {
    margin-left: -25px;
}

/* .searchBarInnerContainer {
    border: solid 0.1rem #e3e4e6;
} */