.sliderLayoutContainer--home__slider {
    margin: 0 auto 50px;
}

.paginationDotsContainer--home__slider {
    transform: translateY(10px);
}

.paginationDot {
    height: 0.90rem !important;
   width: 0.90rem !important;
}

.slide--carousel {
    padding-left: .5rem;
    padding-right: .5rem;
}

.sliderArrows--home__slider {
    color: white;    
}

.sliderArrows--carousel {
    color: white;
    width: 40px;
    height: 40px;
    background: #ccc !important;
    border-radius: 50%;
    padding: 1px;
}

.bullet__item {
    width: 150px;
}

.bullet__item--link {
    text-decoration: none;
}

.bullet__item--title {
    color: #da0c15;
    font-weight: 700;
}