.paragraph--section__one--title {
    color: aliceblue;
}

.heading--subtitle__home {
    font-size: 1.80rem;
}

@media screen and (max-width: 768px) {
    .heading--subtitle__home {
        font-size: 1.1rem;
    }
}

.headingLevel3--subtitle__home-section-nine {
    color: #8a8989;
}

.headingLevel4--title_image-section-nine {
    margin-block-end: 0;
    font-weight: bold;
}

.paragraph--subtitle_image-section-nine {
    margin-top: 0;
}

.headingLevel4--footer-title_section-one {
    font-weight: bold;
    margin-bottom: 7px;
}

.paragraph--product__summary-avaliable {
    color: #00882c;
    font-weight: bold;
}

.paragraph--drawer__mobile-title {
    color: #82020e;
    font-weight: bold;
}

.paragraph--tablet-product-summary-avaliable {
    color: #00882c;
    font-weight: bold;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.paragraph--tablet-summary-section-one {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.headingLevel2--footer-title_section-two {
    font-weight: bold;
}

.paragraph--footer-section-two {
    font-size: 12px;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.paragraph--footer-section-two-service {
    font-size: 12px;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    font-weight: bold;
}

.paragraph--footer-section-three {
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: #444747;
}