.paragraph--section__one--title {
    color: aliceblue;
}

.heading--subtitle__home {
    font-size: 1.50em;
}

.heading--subtitle__home::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #ed2923;
    position: absolute;
    transform: translate(1px, 34px);
}

.headingLevel3--subtitle__home-section-nine {
    color: #8a8989;
    font-size: 1.50em;
    margin-block-end: 2.5em;
}

.headingLevel4--title_image-section-nine {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.4em;
}

.paragraph--subtitle_image-section-nine {
    margin-top: 0;
    font-size: 0.9em;
}

.headingLevel4--footer-title_section-one {
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 1.4em;
}

.paragraph--product__summary-avaliable {
    color: #00882c;
    font-weight: bold;
}

.headingLevel2--footer-title_section-two {
    font-weight: bold;
    font-size: 1.8em;
}

.paragraph--footer-section-one {
    font-size: 14.6px;
}

.paragraph--footer-section-two {
    font-size: 12px;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.paragraph--footer-section-two-service {
    font-size: 12px;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    font-weight: bold;
}

.paragraph--footer-section-three {
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: #444747;
    font-size: 14px;
}

.container--text-product-summary {
    padding-left: 1em;
}

.container--product__summary-avaliable {
    padding-right: 1em;
}

.paragraph--product-summary-discount {
    font-weight: bold;
    color: #ff8000;
}

.container--description-department {
    border-bottom: 1px solid #eae9e9;
}

.paragraph--description-department {
    color: #a2a0a0;
}

.paragraph--alert__price {
    font-size: 12px;
}

.paragraph--text-product-detail {
    margin-block-end: 0;
}

.link {
    text-decoration: none;
    color: #ed2923;
}