.accordionIcon--isClosed {
    background: url('https://api.iconify.design/material-symbols/arrow-forward-ios-rounded.svg') no-repeat center center / contain;
    content: url('https://api.iconify.design/material-symbols/arrow-forward-ios-rounded.svg');
}

.menuContainer {
    max-width: 100%;
    flex-wrap: wrap;
}