.label--link__footer {
    color: #666;
    font-size: 12px;
}

.link--link__footer {
    text-decoration: none;
    padding-bottom: 7px;
}

.label--link__footer-service {
    color: #666;
    font-size: 12px;
    font-weight: bold;
}

.link--link__footer-service {
    text-decoration: none;
    padding-bottom: 7px;
}