.searchBarIcon {
    color: white;
    background-color: #ce2b2b;
}

.imageElement--footer-section-two-image {
    margin-block-start: 2.99em;
}

.logoImage--logo-footer {
    margin-left: -25px;
}

.imageElement--product__summary-section-one {
    padding-top: 0.8em;
}

.specificationsTableContainer {
    padding-left: 1.8rem;
}
.productDescriptionContainer {
    padding-left: 1.8rem;
}

.productBrand {
    font-weight: bold;
    font-size: 2rem;
}

.buyButtonText {
    font-weight: bold;
    font-size: 1.3rem;
}

.imageElement--home__section--three {
    width: 100%;
    height: 100%;
}