@media screen and (max-width: 480px) {
    .headingLevel2--footer-title_section-two {
        font-weight: bold;
        font-size: 1.5em;
        margin-block-end: 0;
    }   
}

.paragraph--drawer__mobile-title {
    color: #82020e;
    font-weight: bold;
}