.logoImage--logo__mobile {
    margin-left: -25px;
}

.imageElement--footer-section-two-image-mobile {
    margin-block-start: 2.99em;
    padding-block-end: 1.5em;
}

.productBrandName--summaryListMobile {
    color: #ce2b2b;
}