.styledLinkContent--menu-mobile {
    font-weight: bold;
    color: #82020e;
}

.styledLinkContainer--menu-mobile {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid #eae8e8;
}

.styledLinkContent--menu-mobile-categories {
    font-weight: bold;
}