.openIconContainer--drawer__tablet {
    width: 80px;
    text-align: right;
    margin-top: 20px;
}

.menuIcon {
    width: 30px;
    height: 30px;
}

.openIconContainer--drawer__mobile {
    margin-top: 5px;
}