@font-face {
    font-family: "MyWorkSans";
    src: url(assets/fonts/WorkSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "WorkSansRegular";
    src: url(assets/fonts/WorkSans-Regular.ttf);
    font-weight: 400;
}